*{
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px;
}

.nav{
      display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: #724E31;
        
}
.nav-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
.nav-center ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
}

.nav-center ul li a {
    text-decoration: none;
}

.nav-center ul li a:hover {
    background-color: #B98E2F;
    padding: 10px;
    border-radius: 10px;
    color: white;
}


.account-menu {
            position: relative;
            display: inline-block;
        }

        .dropdown {
            display: none;
            position: absolute;
            right: 0;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.15);
            min-width: 150px;
            z-index: 100;
        }

        .dropdown a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
        }

        .dropdown a:hover {
            background: #E8CAA0;
            font-weight: bold;
            
        }

        .account-menu:hover .dropdown {
            display: block;
        }

